DB_HOST=srv910.hstgr.io
DB_PORT=3306
DB_USER=u198691406_radiapp_admin
DB_PASSWORD=TU_PASSWORD
DB_NAME=u198691406_radiapp_db

JWT_SECRET=RadiAppSecret2026

PORT=3000

RESEND_API_KEY=TU_API_KEY_DE_RESEND
MAIL_FROM=RadiApp <onboarding@resend.dev>
